In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('titanic_data.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Surname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,NaN
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,NaN

In [5]:
df['Age'].mean()

0.5230078563411896

In [6]:
df['Age'].median()

0.0

In [7]:
df['Age'].mode()

0    0
Name: Age, dtype: int64

In [8]:
df['Age'].std()

1.1027434322934317

In [9]:
df['Age'].var()

1.2160430774662985

In [16]:
df['Age'].quantile([0.05,0.25,0.5,0.75,0.95])

0.05    0.0
0.25    0.0
0.50    0.0
0.75    1.0
0.95    3.0
Name: Age, dtype: float64

In [19]:
df= pd.read_csv('iris.csv')

In [20]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
df['sepal_length'].mean()

5.843333333333334

In [22]:
df['petal_length'].mean()

3.7580000000000005

In [23]:
df['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [25]:
df['petal_length'].mode()

0    1.4
1    1.5
Name: petal_length, dtype: float64

In [26]:
df['sepal_length'].median()

5.8

In [27]:
df['petal_length'].median()

4.35

In [28]:
df['sepal_length'].std()

0.828066127977863

In [29]:
df['petal_length'].std()

1.7652982332594662

In [30]:
df['sepal_length'].var()

0.6856935123042507

In [31]:
df['petal_length'].var()

3.116277852348993

In [35]:
df['sepal_length'].corr(df['petal_length'])

0.8717537758865831

In [38]:
df['sepal_length'].cov(df['petal_length'])

1.2743154362416111